body {
    padding-top: 100px;
    background: url("/images/femme-running.jpg") no-repeat;
    width: 98%;

}
p{
    padding-top: 50px;
    color: blue;
    font-size: 1.5em;
}

.form-group {
    padding: 10px;
    text-align: center;

}
button{
    padding: 3px;
    margin-left: -55%;
}

.group{
    padding-top: 50px;
}
form{
    margin-left: -40%;
}